{% extends 'base.html' %}

{% block content %}

<div class="row py-3">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid" alt="Icon" />
    </div>
    <div class="col-10">
        <a href="{{ product.url }}">
            <h1>
                {{ product.title }}
            </h1>
        </a>
    </div>
</div>

<div class="row py-2">
    <div class="col-8">
        <img src="{{ product.image.url }}" class="img-fluid" alt="Image" />
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-lg btn-block" {% if vote %} disabled {% endif %}>
                <span class="oi oi-thumb-up"></span>
                Upvote 
                {{ count }}                
            </button>
        </a>
    </div>
</div>

<div class="row py-1">
    <div class="col-4">
        <h4>
            <span class="oi oi-person"></span>
            Hunted by: {{ product.hunter.username }}            
        </h4>  
    </div>
    <div class="col-4 text-right">
        <h4>
            <span class="oi oi-calendar"></span>
            {{ product.pub_date_pretty }}
        </h4>
    </div>    
</div>

<div class="row py-4">
    <div class="col-8">
        <p>{{ product.body }}</p>
    </div>    
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden" name="">
</form>

{% endblock %}
